 <!-- <h2>Upload</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload file</button>
  </form>
  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  {% endif %}-->
  {% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   
    <title>Upload</title>
  
    <link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css">
    </head>
    <body>
    <div class="wrapper">
        <div class="upload-console">  
            <h2 class="upload-console-header">Upload</h2>
                <div class="upload-console-body">
                    <h3>Select files from your computer</h3>
                    <from action="upload.php" method="post" ectype="multipart/form-data">
                        <input type="file" name="files[]" id="standart-upload-files">
                        <input tupe="submit" value="Upload files" id="standart-upload">
                    </from>
                    <h3>Or drag and drop files below</h3>
                    <div class="upload-console-drop" id="drop-zone">
                        Just drag and drop files here
                </div>
                <div class="bar">
                    <div class="bar-fill" id="bar-fill">
                        <div class="bar-fill-text" id="bar-fill-text"></div>
                    </div>
                    </div>
                   
                    <div id="uploads-finished" class="hidden">
                        <h3>Processed files</h3>
                       <!-- <div class="upload-console-upload" >
                            <a href="#">filename.jpg</a>
                            <span>Success</span>
                        </div>-->
                    </div>

        </div>
    </div>
</body>
</html>